.slidermain {
    position: relative;
    width: 110vh;
    height: 77vh;
}

.slider {
    position: relative;
    width: 120vh;
    height: 70vh;
    overflow: hidden;
    border-radius: 20px;
    margin: 0 auto;
    left: -4%;
}

.item {
    width: 150px;
    height: 300px;
    list-style-type: none;
    position: absolute;
    left: 150px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
    transition: all 0.75s ease-in-out;
}

.item:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
}

.item:nth-child(3) {
    left: 55%;
}

.item:nth-child(4) {
    left: calc(50% + 220px);
}

.content {
    width: min(30vw, 350px);
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    color: white;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: none;
}

.item:nth-child(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
    0% {
        filter: blur(5px);
        transform: translateY(calc(-50% + 75px));
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

/* Media query per dispositivi medi (da 650px a 900px) */
@media (min-width: 650px) and (max-width: 900px) {

    .item {
        width: 160px;
        height: 270px;
    }

    .item:nth-child(3) {
        left: 50%;
    }

    .item:nth-child(4) {
        left: calc(50% + 170px);
    }

}

/* Media query per dispositivi piccoli (fino a 650px di larghezza) */
@media (max-width: 650px) {
    .slidermain {
        position: relative;
        width: 45vh;
        height: 35vh;
    }
    

    .slider {
        width: 45vh;
        height: 27vh;
        margin: 0 auto;
        left: 0;
    }

    .item {
        width: 70px;
        height: 135px;
        border-radius: 10px;
    }

    .item:nth-child(3) {
        left: 55%;
    }

    .item:nth-child(4) {
        left: calc(50% + 100px);
    }

    .content {
        width: min(40vw, 350px);
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        color: white;
        text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
        opacity: 0;
        display: none;
    }
    

}